.elementor-20 .elementor-element.elementor-element-1d93501a>.elementor-container {
	max-width: 1240px
}

.elementor-20 .elementor-element.elementor-element-1d93501a:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-1d93501a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(180deg, rgba(34, 41, 51, 0) 23%, #222933 0%)
}

.elementor-20 .elementor-element.elementor-element-1d93501a {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	color: rgba(255, 255, 255, .96);
	margin-top: -110px;
	margin-bottom: 0;
	z-index: 1
}

.elementor-20 .elementor-element.elementor-element-1d93501a>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-1d93501a .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-5f07200d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-5f07200d:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-5f07200d>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f7c580
}

.elementor-20 .elementor-element.elementor-element-5f07200d>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 40px
}

.elementor-20 .elementor-element.elementor-element-5f07200d>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-3d6a9632 {
	text-align: left
}

.elementor-20 .elementor-element.elementor-element-401dffc9 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-401dffc9>.elementor-widget-container {
	margin: 0
}

.elementor-20 .elementor-element.elementor-element-3858d0f3>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-3858d0f3:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-3858d0f3>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f4a66e
}

.elementor-20 .elementor-element.elementor-element-3858d0f3>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 40px
}

.elementor-20 .elementor-element.elementor-element-3858d0f3>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-72bfd8d0 {
	text-align: left
}

.elementor-20 .elementor-element.elementor-element-7ba588f1 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-7ba588f1>.elementor-widget-container {
	margin: 0
}

.elementor-20 .elementor-element.elementor-element-32f6784e>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-32f6784e:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-32f6784e>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #e8816e
}

.elementor-20 .elementor-element.elementor-element-32f6784e>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 40px
}

.elementor-20 .elementor-element.elementor-element-32f6784e>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-3f5df4d2 {
	text-align: left
}

.elementor-20 .elementor-element.elementor-element-67d590e1 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-67d590e1>.elementor-widget-container {
	margin: 0
}

.elementor-20 .elementor-element.elementor-element-7a28baf1>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-7a28baf1:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-7a28baf1>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #c95d5d
}

.elementor-20 .elementor-element.elementor-element-7a28baf1>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 40px
}

.elementor-20 .elementor-element.elementor-element-7a28baf1>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-28d20957 {
	text-align: left
}

.elementor-20 .elementor-element.elementor-element-3c089bfa .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-3c089bfa>.elementor-widget-container {
	margin: 0
}

.elementor-20 .elementor-element.elementor-element-6fab7117:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-6fab7117>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #222933
}

.elementor-20 .elementor-element.elementor-element-6fab7117 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-6fab7117>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-343a9740.elementor-column .elementor-column-wrap {
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-343a9740.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-343a9740>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 40px
}

.elementor-20 .elementor-element.elementor-element-343a9740 .elementor-element-populated .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-343a9740>.elementor-element-populated {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-343a9740 .elementor-element-populated a {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-15c53bc6>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: flex-start;
	align-items: flex-start
}

.elementor-20 .elementor-element.elementor-element-15c53bc6 {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-5513d87d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-5513d87d>.elementor-element-populated {
	border-style: solid;
	border-width: 2px;
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin: 0;
	padding: 40px 40px 20px
}

.elementor-20 .elementor-element.elementor-element-5513d87d>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-4c2cb6b5 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-4c2cb6b5>.elementor-widget-container {
	margin: 0;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-7a77293 {
	font-size: 15px
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-5d9e105b.elementor-column .elementor-column-wrap {
	align-items: flex-end
}

.elementor-20 .elementor-element.elementor-element-5d9e105b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end
}

.elementor-20 .elementor-element.elementor-element-5d9e105b>.elementor-element-populated {
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-529567e>.elementor-widget-container {
	margin: 0;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-2fe59441>.elementor-container {
	max-width: 1260px
}

.elementor-20 .elementor-element.elementor-element-2fe59441:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-2fe59441>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #fff;
	background-image: url("../../../../uploads/2018/09/street-932082_1920-edit.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain
}

.elementor-20 .elementor-element.elementor-element-2fe59441 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-2fe59441>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-2e1566bc.elementor-column .elementor-column-wrap {
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-2e1566bc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-2e1566bc .elementor-element-populated .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-2e1566bc>.elementor-element-populated {
	color: #fff;
	margin: 0;
	padding: 80px
}

.elementor-20 .elementor-element.elementor-element-2e1566bc .elementor-element-populated a {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-729d0dc5 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-729d0dc5>.elementor-widget-container {
	margin: 0;
	padding: 40px;
	border-style: solid;
	border-width: 2px
}

.elementor-20 .elementor-element.elementor-element-177499e9>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 10px
}

.elementor-20 .elementor-element.elementor-element-177499e9:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-177499e9>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #fff
}

.elementor-20 .elementor-element.elementor-element-177499e9>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 170px 80px
}

.elementor-20 .elementor-element.elementor-element-177499e9>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-283e21ae>.elementor-widget-container {
	margin: -27px 0 0
}

.elementor-20 .elementor-element.elementor-element-3ac90bb1 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	fill: #222933;
	color: #222933;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 1px;
	border-color: #222933;
	border-radius: 0;
	padding: 12px 15px
}

.elementor-20 .elementor-element.elementor-element-3ac90bb1 .elementor-button:hover,
.elementor-20 .elementor-element.elementor-element-3ac90bb1 .elementor-button:focus {
	color: #fff;
	background-color: #222933;
	border-color: #222933
}

.elementor-20 .elementor-element.elementor-element-3ac90bb1 .elementor-button:hover svg,
.elementor-20 .elementor-element.elementor-element-3ac90bb1 .elementor-button:focus svg {
	fill: #fff
}

.elementor-20 .elementor-element.elementor-element-23fcac97>.elementor-container {
	max-width: 1400px
}

.elementor-20 .elementor-element.elementor-element-23fcac97:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-23fcac97>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #222933;
	
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: contain
}


.elementor-20 .elementor-element.elementor-element-23fcac97 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 0
}

.elementor-20 .elementor-element.elementor-element-23fcac97>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-23fcac97 .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-15063aac>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 10px
}

.elementor-20 .elementor-element.elementor-element-15063aac:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20 .elementor-element.elementor-element-15063aac>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #222933
}

.elementor-20 .elementor-element.elementor-element-15063aac>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	color: #fff;
	padding: 170px 80px
}

.elementor-20 .elementor-element.elementor-element-15063aac>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-15063aac .elementor-element-populated .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-15063aac .elementor-element-populated a {
	color: #fff
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-53cb9c98.elementor-column .elementor-column-wrap {
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-53cb9c98.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-53cb9c98 .elementor-element-populated .elementor-heading-title {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-53cb9c98>.elementor-element-populated {
	color: #fff;
	margin: 0;
	padding: 80px
}

.elementor-20 .elementor-element.elementor-element-53cb9c98 .elementor-element-populated a {
	color: #fff
}

.elementor-20 .elementor-element.elementor-element-ad7e60a .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-ad7e60a>.elementor-widget-container {
	margin: 0;
	padding: 40px;
	border-style: solid;
	border-width: 2px
}

.elementor-20 .elementor-element.elementor-element-60694fed:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-60694fed>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f7f7f7
}

.elementor-20 .elementor-element.elementor-element-60694fed {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 150px 0
}

.elementor-20 .elementor-element.elementor-element-60694fed>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-3222d4a2.elementor-column .elementor-column-wrap {
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-3222d4a2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-3222d4a2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0
}

.elementor-20 .elementor-element.elementor-element-1498c132>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}

.elementor-20 .elementor-element.elementor-element-f7e49b4>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 20px
}

.elementor-20 .elementor-element.elementor-element-f7e49b4>.elementor-element-populated {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(12, 12, 12, .12);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin: 20px 120px 20px 20px;
	padding: 60px
}

.elementor-20 .elementor-element.elementor-element-f7e49b4>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-20 .elementor-element.elementor-element-2c7ada81 .elementor-heading-title {
	line-height: 1.2em
}

.elementor-20 .elementor-element.elementor-element-2d7fbcee .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	fill: #222933;
	color: #222933;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 1px;
	border-color: #222933;
	border-radius: 0;
	padding: 12px 15px
}

.elementor-20 .elementor-element.elementor-element-2d7fbcee .elementor-button:hover,
.elementor-20 .elementor-element.elementor-element-2d7fbcee .elementor-button:focus {
	color: #fff;
	background-color: #222933;
	border-color: #222933
}

.elementor-20 .elementor-element.elementor-element-2d7fbcee .elementor-button:hover svg,
.elementor-20 .elementor-element.elementor-element-2d7fbcee .elementor-button:focus svg {
	fill: #fff
}

.elementor-20 .elementor-element.elementor-element-326b7547>.elementor-element-populated {
	text-align: center;
	padding: 20px
}

.elementor-20 .elementor-element.elementor-element-42fb8369 {
	text-align: right
}

.elementor-20 .elementor-element.elementor-element-1b768d3f {
	text-align: right
}

.elementor-20 .elementor-element.elementor-element-1b768d3f>.elementor-widget-container {
	margin: -200px 120px 0 -100px;
	border-style: solid;
	border-width: 20px;
	border-color: #f7f7f7
}

@media(max-width:1024px) {
	.elementor-20 .elementor-element.elementor-element-1d93501a {
		margin-top: 0;
		margin-bottom: 0
	}
	.elementor-20 .elementor-element.elementor-element-5f07200d>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-3858d0f3>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-32f6784e>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-7a28baf1>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-6fab7117 {
		padding: 0
	}
	.elementor-20 .elementor-element.elementor-element-5513d87d>.elementor-element-populated {
		margin: 0;
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-2e1566bc>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-729d0dc5>.elementor-widget-container {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-177499e9>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-15063aac>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-53cb9c98>.elementor-element-populated {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-ad7e60a>.elementor-widget-container {
		padding: 20px
	}
	.elementor-20 .elementor-element.elementor-element-60694fed {
		margin-top: 0;
		margin-bottom: 0;
		padding: 20px 0
	}
	.elementor-20 .elementor-element.elementor-element-3222d4a2>.elementor-element-populated {
		margin: 0;
		padding: 0 20px
	}
	.elementor-20 .elementor-element.elementor-element-f7e49b4>.elementor-element-populated {
		margin: 0;
		padding: 20px
	}
}

@media(max-width:767px) {
	.elementor-20 .elementor-element.elementor-element-343a9740>.elementor-element-populated {
		padding: 20px 20px 0
	}
	.elementor-20 .elementor-element.elementor-element-15c53bc6 {
		margin-top: 0;
		margin-bottom: 0
	}
}

@media(min-width:768px) {
	.elementor-20 .elementor-element.elementor-element-343a9740 {
		width: 48.86%
	}
	.elementor-20 .elementor-element.elementor-element-5d9e105b {
		width: 52.033%
	}
	.elementor-20 .elementor-element.elementor-element-2e1566bc {
		width: 38.968%
	}
	.elementor-20 .elementor-element.elementor-element-177499e9 {
		width: 61.029%
	}
	.elementor-20 .elementor-element.elementor-element-15063aac {
		width: 60.952%
	}
	.elementor-20 .elementor-element.elementor-element-53cb9c98 {
		width: 39.045%
	}
	.elementor-20 .elementor-element.elementor-element-3222d4a2 {
		width: 53.07%
	}
	.elementor-20 .elementor-element.elementor-element-326b7547 {
		width: 46.93%
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-20 .elementor-element.elementor-element-2e1566bc {
		width: 100%
	}
	.elementor-20 .elementor-element.elementor-element-177499e9 {
		width: 100%
	}
	.elementor-20 .elementor-element.elementor-element-15063aac {
		width: 100%
	}
	.elementor-20 .elementor-element.elementor-element-53cb9c98 {
		width: 100%
	}
	.elementor-20 .elementor-element.elementor-element-3222d4a2 {
		width: 100%
	}
	.elementor-20 .elementor-element.elementor-element-326b7547 {
		width: 100%
	}
}

@media(min-width:1025px) {
	.elementor-20 .elementor-element.elementor-element-2fe59441:not(.elementor-motion-effects-element-type-background),
	.elementor-20 .elementor-element.elementor-element-2fe59441>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll
	}
	.elementor-20 .elementor-element.elementor-element-23fcac97:not(.elementor-motion-effects-element-type-background),
	.elementor-20 .elementor-element.elementor-element-23fcac97>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll
	}
}