.date-filter-box {
    width: 13.6%;
    float: left;
    min-height: 194px;
    margin: 0px 8px 10px 0px;
    box-shadow: 0px 0px 10px 2px #dadada;
    border-radius: 20px;
    position: relative;
}
.date-filter-box.date-filter-box-last{
    margin: 0;
}
.date-filter-box:before,.date-filter-box:after,.date-filter-content:before,.date-filter-content:after{
    clear: both;
    display: block;
    content: '';
}
.date-filter-content:first-child {
    border-bottom: 1px solid;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.date-filter-content:first-child .date-filter-box {
    box-shadow: none;
    border-radius: 0;
    width: 13.67%;
    min-height: auto;
    margin: 0px 7px 0px 0px;
}
.date-filter-content:first-child .date-filter-box:last-child{
    margin: 0;
} 
.date-filter-box h2{
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    	font-family: Poppins;
    font-weight: 600
}
.date-filter-box h3 {
    font-size: 16px;
    font-weight: bold;
   	font-family: Poppins;
    line-height: 16px;
    padding: 0px 0 6px 0px;
    border-bottom: 3px solid #082c45;
    margin: 18px 15px;
    color: #444b52;
}
.date-filter-box p.time{
    margin: 25px 15px 20px 15px;
    font-size: 14px;
    text-align: center;
    color: #959595;
    position: relative;
}
.date-filter-box p.time:before{
    content: url(../images/clock.png);
    position: absolute;
    left: 0;
    top: 0;
}
.date-filter-box p.paragraph {
    margin: 0 15px;
    font-size: 14px;
    line-height: 17px;
   	font-family:Poppins;
    color: #000000;
}
.past-date:before{

}
.date-filter-box.past-date:before, .date-filter-box.past-date:after{
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.5);
    top: 0;
    bottom: 0;
}
.date-filter-box.past-date h3{
    color: #000000;
}