.row1{
  --bs-gutter-x: 0 !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.bg1{
    background: #0e3044;
    height: 100px;
    padding: 20px;
    font-size: 20px;
}
.bg2{
    background: #e8816e;
    height: 100px;
    padding: 27px;
    font-size: 35px;
    text-align: right;
}
figure{
   width:100%; /*container-width*/
   overflow: hidden; /*hide bounds of image */
   margin:0; /*reset margin of figure tag*/
}
figure img{
   display:block; /*remove inline-block spaces*/  
}
figure img{
   /*add to other styles*/
   margin:0 -38.885%;
   width:177.777%;
}
.set_image{
    height: 600px;
    object-fit: contain;
    width: 302px;
    margin-left: 100px;
}
.gallery-img{
    width: 150px;
}

.wild{
    width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;
}
.wild img{
    display:block; /*remove inline-block spaces*/
    width:100%;
    margin:-12.875% 0;
}
.Wildlife{
    color: #db6e43;
}
.card6 {
  background: #082c45;
/*  border: 2px solid gray;*/
  width: 100%;
  padding: 2px;
    color: black;
    margin-top: 10px;
}
.Wildlife-text{
    text-align: center;
    font-size: 20px;
    color: white;
    
    font-weight: 600;
    margin-top: -200px;
   
}
.pattern{
    width:100%; /*container-width*/
   
   margin:0;

}

.pattern img{
    display:block; /*remove inline-block spaces*/
    width:100%;
    
}
.Wetlands{
    width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;

}
.Wetlands img{
   display: block;
    width:100%;
    height: 350px;
    object-fit: cover;
    }
.map{
    width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;

}
.map img{
   display: block;
    width:100%;
    height: 550px;
    object-fit: cover;
    }
.online{
    color: #e8816e;
    font-size: 16px;
}

.m-top{
    margin-top: 88px;
}
.m-top1{
    margin-top: 25px;
}
m-top2{
    margin-top: 12px;
}
.padding_between{
   padding: 0 0px;
}

.blue{
    background-color: #fff;
    color: black;
    padding: 10px;
}
.orange{
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
}
.blue1{
   
    color: #082c45;
   
}
.m-bottom{
    margin-bottom: 85px;
}
.m-bottom1{
    margin-bottom: 25px;
}
/*--- gallery home---*/
.all-image {
  display: block !important;
  width: 100%;
  border: 4px solid #082c45;
 background-color: white;
  color: #082c45;
  /*padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;*/
}
.image-custom {
  display: block !important;
  width: 100%;
  border: 2px solid #082c45;
 background-color: white;
  color: #082c45;
  /*padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;*/
}

.all-image:hover {
  background-color: #082c45;
  color: white;
}

.text{
  color: white;
  font-size: 16px;
  margin-top: 12px;
}
.website{
    background-color:  #e8816e;
    width: 100%;
    color: white;
    margin-top: 35px;
    border: none;
}
.save-button{
    color: white;
      background-color: #082c45;
    font-size: 16px;
    border: none;
}


/*--- gallery page---*/

.dropdown-btn{
    background-color: #082c45;
    color: white;
    margin-top: 13px;
    border-radius: 2px;
    
}
.gallery{
    width: 100%;
    object-fit: cover;
    height: 245px;
}
.column {
  float: left;
  width: 25%;
}


/*
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
*/


.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
/*  margin-bottom: -4px;*/
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close_symbol{
       float: right;
   
    line-height: 1;
  
    text-shadow: 0 1px 0 #fff;
    
    opacity: 1.2;
}

/*---- orgnisation chart-=---- */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
    margin: 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
    margin: auto;
    font-weight: 800;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #082c45;
    color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
font-weight: 400;
    line-height: 0px !important;
    font-size: 14px;
}
.tr-color{
    background-color: #f1f1f1;
}
/*
tr:nth-child(even) {
  background-color: #f1f1f1;
}
*/

/*---- past event----*/



.profile-name {
  padding: 0 20px;
}

.title {
  color: grey;
    font-size: 13px;
}


.accordion .card .card-header {
    cursor: pointer;
    margin: 0;
    border-bottom: 0;
    padding: 0;
    background-color: #F3F6F9;
}
.accordion .card .card-header .card-title {
    padding: 1rem 1.25rem;
    margin: 0;
    font-size: 1.15rem;
    font-family: poppins;
    font-weight: 500;
    color: #082c45;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed:after {
    color: #7E8299;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-transform: rotate(
-90deg
);
    transform: rotate(
-90deg
);
}
.accordion.accordion-toggle-arrow .card .card-header .card-title:after {
    position: absolute;
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ">";
    color: #082c45;
    font-size: 0.7rem;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;}

.accordion .card .card-header .card-title:after {
    right: 1rem;
}
.book-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
    width: 100%;
    font-weight: 700
}

.book-button1 {background-color: #e8816e;} /* Green */



/*....contact.......*/

.contact-location{
    position: relative;
    margin-bottom: 80px;
}
.contact-location .icon{
   
    display: inline-block;
    margin-top: 28px;
}
.submit-botton{
    background-color: #082c45;
    border-radius: 5px;
color: white;
}


/*---Home----*/

.minister-background{
   background-color: #222933;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
.top-left-pic {
/*    position: absolute;*/
    left: 36px;
    top: 25px;
}
.minister ul li {
    display: flex;
    align-items: flex-start;
}
.minister h5 {
    font-weight: bold;
    font-size: 16px;
   
    color: #FFFFFF;
    margin-left: 22px;
    padding-right: 41px;
}
.minister p {
    font-size: 12px;
    
/*    margin-top: 8px;*/
    margin-bottom: 0;
    color: #FFFFFF;
    margin-left: 22px;
/*    padding-right: 41px;*/
}
.minister img{
/    height: 70px; /
    width: 70px; 
    border-radius: 50%; 
    object-fit: cover;
}
.break{
    width: 310px;
     word-wrap: break-word;
}

.min {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    / background: rgba(255,187,127,0.5); /
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    width: 40px;
}
.message-btn{
    color: white;
    text-align: center;
    background: #222933;
    border: 2px solid #fff;
    padding: 10px 62px;
    border-radius: 10px;
}
.minister{
    border-radius: 50%;
}
.card-view{
        width: 100%;
    padding: 35px 69px;
    background-color: #222933;
    border: 2px solid;
    /* margin-top: 54px; */
    margin: 66px 0px 66px 0px;
    height:73%;
}

/*----Tender-----*/

.tablink {
  background-color: #a6a6a6;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
    outline-style: none !important;
}
.videos{
  background-color: #082c45;
}

.tablink:hover {
  background-color: ;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
/*  padding: 100px 20px;*/
  height: 100%;
}

#Home {background-color: white;}
#News {background-color: white;}

.tender-button{
   display: block;
  width: 100%;
 
 background-color: #e8816e;
  color: white;
  padding: 9px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    border: none;
    outline-style: none !important;
   
}

.counter{
/*  display: inline-block;*/
  padding: 6px 6px 4px;
  border-radius: 3px;
  background: #e8816e;
/*  margin-right: -2px;*/
  color: white !important;
}
.center-counter {
  text-align: center;
 margin: 13px 0px 0px 96px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.visitor-count{
    background: #e8816e;
    color: white;
    margin-left: 20px;
}

.ex1 {
 
  height: 400px;
  overflow-y: scroll;
}

.minister-detail{
	
	margin-left:22%;
}

.table-rows{
	    width: 100%;
    /* padding: 35px 69px; */
    background-color: #222933;
    border: 2px solid;
    margin: 66px 0;
    height: 88.5%;
}

/*  */
	.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
	border: 1px solid #c95d5d;
    margin-bottom: 50px;
    z-index: 0
}

.ticker-wrapper-h .heading{
	background-color: #c95d5d;
	color: #fff;
	padding: 15px 10px;
	flex: 0 0 auto;
	z-index: 1000;
    width: 130px;
}
.ticker-wrapper-h .heading:after{
	content: "";
	position: absolute;
	top: 4px;
	border-left: 40px solid #c95d5d;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
    left: 124px;
}


.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: -1;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 30s;
	
}
.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 20px;
}

.news-ticker-h li a{
	color: #c95d5d;
	font-weight: bold;
}

@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
/*  */


@media screen and (max-width: 1024px) {
    .Wetlands img{
        height: 313px;
    }
	.table-rows {
    		width: 100%;
    		background-color: #222933;
    		border: 2px solid;
    		margin: 66px 0;
    		height: 84.1%;
		}
    	

    @media screen and (max-width: 300px){
         .map img{
           height: 249px;
        }
    	
    	
    }
    @media screen and (max-width: 400px){
        .Wildlife-text{
            font-size: 17px;
        }
        .map img{
           height: 345px;
        }
        .visitor-count{
      margin-left: 0px;
       }
        .center-counter {
       margin: 13px 0px 0px -112px;
      }
    
    .minister-detail{
        margin-left:0%;
      }
    .minister h5{
font-size: 12px;
}
    	
    
    }
    @media screen and (max-width: 550px){
         .map img{
           height: 345px;
        }
    }








