
.calendar{
  width: 100%;
  
  border-radius: 10px;
  background-color: white;
  position: relative;
  
    color: black;
    border: 1px solid #ccc;
    z-index: 1;
}
.active-event{
    color: white;
    background: #082c45;
}
.past-event{
    color: white;
    background: #fa9e7a;
}
th, td {
  text-align: center !important;
 
}

.calendar-base {
  width: 100%;
  
  
  background-color: white;
  position: relative;

  color: black;
   
}

.year {
  color: #082c45;
  font-size: 30px;
  float: right;
  position: relative;
  
  top: 20px;
  font-weight: bold;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  right: 12px;
  top: 36px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #E8E8E8;
  border-bottom: 5px solid transparent;
  float: right;
  position: relative;
  left: 170px;
  top: 36px;
}
.triangle-left:hover{
  border-right: 10px solid#2ECC71;
}
.triangle-right:hover{
  border-left: 10px solid#2ECC71;
}

.month-color {
  color: #082c45;
}
.month-hover:hover{
  color:#db6e43 !important;
    cursor: pointer;
}

.months {
  color: #082c45;
  position: relative;
  top: 25px;
  word-spacing: 17px;
}

.month-line {
  border-color: #E8E8E8;
  position: relative;
  top: 85px;
  width: 57%;
  left: 178px;
}

.days {
  color: #082c45;
  position: relative;
  font-size: 18px;
  
  top:39px;
  word-spacing: 53px;
  font-weight: 600;
}

.num-dates {
 
  position: relative;
  top: 55px;
    z-index: 1;
 
}

.first-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.second-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.third-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.fourth-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.fifth-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.sixth-week {
  margin-bottom: 25px;
  word-spacing: 70px;
}

.active-day {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #082c45;
  position: relative;
  top: -63px;
  left: 378px;
}

.white {
  color: white;
}

.event-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #082c45;
  position: relative;
  top: -200px;
  left: 315px;
}

.two {
  position: relative;
  top: -83px;
  left: 418px;
}

.grey {
  color: #AAAAB1;
}

.calendar-left {
  width: 300px;
  height: 420px;
  border-radius: 10px 0px 0px 10px;
  background-color: #082c45;
  position: relative;
  z-index: -1;
  
  color: white;
}

.hamburger {
  position: relative;
  top: 25px;
  left: 25px;
}

.burger-line:hover, .hamburger:hover{
  background-color:#27e879 !important;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 3px;
}

.num-date {
  font-size: 150px;
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
}

.day {
  width: 50%;
  margin: 0px auto;
  font-size: 30px;
  position: relative;
  bottom: 60px;
}

.current-events {
  font-size: 15px;
  position: relative;
  margin-left: 25px;
  bottom: 30px;
    
}

.posts {
  text-decoration: underline dotted;
}
.posts:hover{
  color:#27e879 !important;
}

.create-event {
  font-size: 18px;
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
}

.event-line {
  width: 90%;
}

.add-event {
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 50%;
  border: solid white 2px;
  position: relative;
  bottom: 42px;
  left: 260px;
}

.add {
  font-size: 25px;
  position: relative;
  left: 4px;
  bottom: 10px;
}

.add:hover, .create-event:hover, .add-event:hover{
  color:#27e879 !important;
  border-color: #27e879 !important;
}
.m-bottom{
    margin-bottom: 32px;
}